body {
    background-color: beige;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    transition:color .5s ease-in-out;
}

h2 {
    text-align: center;
}

#subject{
    display: block;
    text-align: center;
    font-size: 50px;
}

#quote span {
    display: block;
    text-align: center;
    font-size: 25px;
}

#todo-form {
    display: block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
ul{
    list-style: none;
    display:block;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

p {
    text-align: center;
}

.clicked {
    color: tomato;
}

.sexy-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

#login-form {
    text-align: center;
    font-size: 30px;
}

#weather {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

